h2 {
    text-align: center;
}
header img{
    width: 10%;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #610404;
    color: #ffffff;
}

header {
    background-color: #000000;
    color: #fff;
    padding: 10px;
}

h1 {
    text-align: center;
    color: #f7f4f4;
}

select, option {
    padding: 5px;
}

#recomendacoes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.vinho {
    background-color: #fff;
    border: 2px solid #4a0f2c; /* Borda vinho */
    margin-top: 20px;
    padding: 10px;
    width: 30%;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.2s;
}

.vinho:hover {
    transform: scale(1.05);
}

.vinho img {
    width: 100%;
    height: auto;
}

.vinho h3, .vinho p {
    text-align: center;
}

.carrinho {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    margin: 20px auto;
    display: block;
    width: 200px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}

.carrinho:hover {
    background-color: #333;
}
